<?php
//Configuration connexion serveur base de données distant (cloud9)
const DB_SGBD = 'mysql';
const DB_SGBD_URL = 'localhost';
const DB_DATABASE = ''
const DB_CHARSET ='utf8';
const DB_USER = '';
const DB_PASS = '';

//Configuration connexion serveur base de données local
// const DB_SGBD = 'mysql';
// const DB_SGBD_URL = 'localhost';
// const DB_DATABASE = ''
// const DB_CHARSET ='utf8';
// const DB_USER = '';
// const DB_PASS = '';

/** FILES */
//Répertoire chemin complet vers le blog (pour l'upload)
define('UPLOADS_DIR', realpath(dirname(__FILE__)."/../").'/img/uploads/');

?>